* {
    margin-left: 140px;
    padding: 10px;
    box-sizing: border-box;
    font-family:sans-serif;
}

section {
    width: 400px;
    height: 500px;
   background-color: aquamarine;
   }

img {
    display: block;
    margin: 2 auto;
    width: 240px;
    border-radius: 50%;
    position: absolute;

}

h1 {
    color:blue;
    font-size: 72px;
}
p1 {

    color: blueviolet;
    position: relative;
top: 150px;
    font-size: 35px;
}
p2 {
    color: rgb(233, 24, 73);
    position: relative;
top: 150px;
    font-size: 20px;
}
p3 {
    color: rgb(215, 11, 171);
    position: relative;
top: 150px;
    font-size: 25px;
}

div.class {
    width: 400px;
}

